*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
.linear{
background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
}

/* header section */

.header-section{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 37px;
}
.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
    
}
.nav-links{
   
}
.btn{
    margin-right: 32px; 
    font-size: 18px;
    font-weight: 500;
    color: rgb(60, 53, 79);
    padding: 8px 10px;
    border: none;
    background-color: transparent;
}
.btn-follow{
    font-size: 18px;
    font-weight: 500;
    color: rgb(60, 53, 79);
    padding: 17px 24px;
    border-radius: 8px;
    border: none; 
}
#color{
    color: rgb(255, 66, 165);
}

